<%- include('../partials/headerMovieApi') %>

<div class='ui container'>
    <h1>Results for <%= movieName %></h1> 
    <div class='ui three column grid'>
        <% data['Search'].forEach(function(movie) { %>
        <div class='ui four column grid'>
            <div class='ui cards'>
                <div class='image'>
                    <img src='<%= movie['Poster'] %>'>
                </div>
                <div class='content'>
                    <a class='header'><%= movie['Title'] %></a>
                    <div class='meta'>
                        <span class='date'>Year: <%= movie['Year'] %></span>
                    </div>
                    <div class='description'>
                        <p>Type: <%= movie['Type'] %></p>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>